#id{
	width: 50%;
	margin-top: 6%;
}
.pd3{
	padding: 3%;
}
.red:hover{
	background: #B64747 !important;
	color: white !important;
}
.mgt3{
	margin-top: 3%;
}
.rojo{
	position: absolute;
	background-color: red;
	color: white;
	padding: 0 2.5%;
	margin-top: -80%;
}
.neg{
	position: absolute;
	background-color: black;
	color: white;
	padding: 0 2%;
	margin-top: -87%;
}
.bg{
	background-image: url("../images/client-bg.jpg");
	background-size: cover;
	background-position: center;
	height: 15em;
	padding-top: 5%;
}